# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Films\Frontend-разработчик Часть 3 из 5 (2020)\JavaScript. Уровень 1\lesson6\lesson6\дз\1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
